.challenge-container {
  width: 340px;
  height: 80px;
  margin-bottom: 15px;
    
  .challenge-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 10px;

    .title {
      text-transform: uppercase;
      font-size: 20px;
      font-weight: bold;
    }

    .description {
      font-size: 16px;
    }

    .footer {
      width: fit-content;
      height: 5%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

      .visualizations{
        padding-right:10px;
      }
    }

    .custom-button{
      width: 70%;

    }
    
  }
}